#vbox{
    -fx-padding:5;
}

#vboxButtons{
    -fx-background-color:#123AAF;
}

.label[
    -fx-padding:3;
}

#listURL{
    -fx-background-color: #222222;
}

#title{
	-fx-font-size:26px;
	-fx-font-weight:bold;
}

#urllbl{
    -fx-font-size:11px;
    -fx-font-style:italic;
}

#date{
    -fx-font-size:12px;
}

#description{
	-fx-font-size: 16px;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#listURLl:selected:focused * {
    -fx-text-fill:#000000;
}

.button{
    -fx-padding:5;
}

#tags{
	-fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-underline:true;
}

#vBoxtags{
    -fx-background-color:#DDDDDD;
    -fx-padding: 5px;
}